/*
Custom Css
*/
/* 🔧 Corrección visual para el carrusel de Bootstrap */

.carousel-item {
    background: none !important;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: transparent !important;
    width: auto !important;
    opacity: 0.8;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000 !important;
    border-radius: 50%;
    padding: 10px;
  }
  